.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.Python

# VS Code
.vscode/
.vs/
.venv/
__pycache__/
*.pyc

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
